{% render 'ui-head', header: 'Buttons' %}
<div class="container py-20">
  <div class="flex flex-col items-start gap-5">
    <div class="mb-5 flex flex-col gap-3">
      <h2 class="ml-6 text-sm font-bold uppercase">Primary</h2>
      <div class="flex gap-4 rounded-large border border-dashed border-blue bg-brown/10 p-6">
        <button
          class="rounded border border-primary bg-primary px-6 py-4 text-sm font-normal uppercase text-white transition-colors hover:border-orange-light hover:bg-orange-light hover:text-white focus:outline-none focus:ring-2 focus:ring-purple focus:ring-offset-1 disabled:border-gray-light disabled:bg-gray-medium disabled:text-white disabled:opacity-50 disabled:pointer-events-none"
        >
          Shop Now
        </button>
        <button
          class="rounded border border-primary bg-primary px-6 py-4 text-sm font-normal uppercase text-white transition-colors hover:border-orange-light hover:bg-orange-light hover:text-white focus:outline-none focus:ring-2 focus:ring-purple focus:ring-offset-1 disabled:border-gray-light disabled:bg-gray-medium disabled:text-white disabled:opacity-50 disabled:pointer-events-none"
          disabled
        >
          Shop Now
        </button>
      </div>
    </div>
    <div class="mb-5 flex flex-col gap-3">
      <h2 class="ml-6 text-sm font-bold uppercase">Secondary</h2>
      <div class="flex gap-4 rounded-large border border-dashed border-blue bg-brown/10 p-6">
        <button
          class="rounded border border-brown bg-trnasparent px-6 py-4 text-sm font-normal uppercase text-brown transition-colors hover:border-brown hover:bg-brown hover:text-white focus:outline-none focus:ring-2 focus:ring-purple focus:ring-offset-1 disabled:border-gray-light disabled:bg-gray-medium disabled:opacity-50 disabled:pointer-events-none"
        >
          Shop Now
        </button>
        <button
          class="rounded border border-brown bg-trnasparent px-6 py-4 text-sm font-normal uppercase text-brown transition-colors hover:border-brown hover:bg-brown hover:text-white focus:outline-none focus:ring-2 focus:ring-purple focus:ring-offset-1 disabled:border-gray-light disabled:bg-gray-medium disabled:opacity-50 disabled:pointer-events-none"
          disabled
        >
          Shop Now
        </button>
      </div>
    </div>
  </div>
</div>