{% render 'ui-head', header: 'Colors' %}
<div class="container py-14">
  <div class="grid grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-12">
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-green-dark"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">green-dark</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-primary"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">primary</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-primary/[0.65]"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">primary/65</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-green-light"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">green-light</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-mustard"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">mustard</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-orange-light"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">orange-light</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-orange"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">orange</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-red"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">red</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-bright-red"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">bright-red</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-brown-light"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">brown-light</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-brown"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">brown</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-blue-light"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">blue-light</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-gray-light"></div>
      <span class="mb-1 mt-2 rounded bg-gray-light px-2 py-1 font-mono italic text-xs">gray-light</span>
    </div>
  </div>
</div>
