{% render 'ui-head', header: 'Colors' %}
<div class="container pb-16 pt-12">
  <div class="grid grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-12">
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-primary"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">primary</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-blue"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">blue</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-blue-light"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">blue-light</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-green"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">green</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-orange"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">orange</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-orange-dark"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">orange-dark</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-red"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">red</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-gray"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">gray</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-gray-light"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">gray-light</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-gray-medium"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">gray-medium</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-gray-dark"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">gray-dark</span>
    </div>
    <div class="col-span-1 flex flex-col items-start md:col-span-2">
      <div class="h-28 w-full border rounded-lg bg-beige"></div>
      <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs">beige</span>
    </div>
  </div>
</div>
