{% render 'ui-head', header: 'Icons' %}
<div class="container py-14">
  <div class="grid grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-12">
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'spinner' %}
        <span class="mb-1 mt-2 rounded bg-beige/50 px-2 py-1 font-mono text-xs italic">spinner</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'cart' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">cart</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'check-fill' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">check-fill</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'phone' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">phone</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'play', class: '!w-[25px] !h-[25px] bg-orange' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">play</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'email' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">email</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'user' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">user</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'wishlist' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">wishlist</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'burger' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">burger</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'menu' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">menu</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'search' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">search</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'chevron-right' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">chevron-right</span>
      </div>
    </div>

    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'cross' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">cross</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'instagram' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">instagram</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'facebook' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">facebook</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'youtube' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">youtube</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'twitter' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">twitter</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'pinterest' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">pinterest</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'close-button', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">close-button</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'arrow', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">arrow</span>
      </div>
    </div>

    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'minus', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">minus</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'plus', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">plus</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'check-in-circle', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">check-in-circle</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'check-circle-fill', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">check-circle-fill</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'user-fill', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">user-fill</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'return', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">return</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'heart-fill', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">heart-fill</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'burger-2', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">burger-2</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'pin', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">pin</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'crown', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">crown</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'grid', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">grid</span>
      </div>
    </div>


    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'info', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">info</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'pen', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">pen</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'trash', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">trash</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'heart-in-circle', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">heart-in-circle</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'visa', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">visa</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'amex', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">amex</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'discover', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">discover</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'mastercard', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">mastercard</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'paypal', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">paypal</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'amazon', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">amazon</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'verisign', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">verisign</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'truste', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">truste</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'rotate-reverse', class: '!w-[25px] !h-[25px] text-black' %}
        <span class="mb-1 mt-2 rounded bg-beige px-2 py-1 font-mono text-xs italic">rotate-reverse</span>
      </div>
    </div>
  </div>
</div>
