{% render 'ui-head', header: 'Icons' %}
<div class="container py-14">
  <div class="grid grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-12">
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'grid' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">grid</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'pen' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">pen</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'pin' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">pin</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'location' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">location</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'burger' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">burger</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'heart' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">heart</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'envelop' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">envelop</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'gift-card' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">gift-card</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'card' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">card</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'social' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">social</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'return' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">return</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'revert' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">revert</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'star' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">star</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'lock' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">lock</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'plus' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">plus</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'minus', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">minus</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'amazon', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">amazon</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'google', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">google</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'facebook', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">facebook</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'instagram', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">instagram</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'youtube', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">youtube</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'snapchat', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">snapchat</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'tiktok', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">tiktok</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'x', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">x</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'pinterest', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">pinterest</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'customer', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">customer</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'trash', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">trash</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'eye', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">eye</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'eye-off', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">eye-off</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'upload', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">upload</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'play', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">play</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'video', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">video</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'question', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">question</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'info', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">info</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'info-hex', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">info-hex</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'warning', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">warning</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'check', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">check</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'check-accent', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">check-accent</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'search', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">search</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'cart', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">cart</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'user', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">user</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'arrow-left', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">arrow-left</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'arrow-right', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">arrow-right</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'arrow-up', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">arrow-up</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'arrow-down', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">arrow-down</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'loader', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">loader</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'close', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">close</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'clock', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">clock</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'phone', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">phone</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'filter', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">filter</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'amex', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">amex</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'discover', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">discover</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'paypal', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">paypal</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'mastercard', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">mastercard</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'visa', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">visa</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'bag', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">bag</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'quote', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">quote</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-gray-light rounded-lg">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded-lg border border-dashed p-4">
        {% render 'icon', icon: 'zoom', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs">zoom</span>
      </div>
    </div>
  </div>
</div>
