{% render 'ui-head', header: 'Icons' %}
<div class="container py-14">
  <div class="grid grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-12">
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'grid' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">grid</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'pen' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">pen</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'pin' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">pin</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'location' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">location</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'burger' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">burger</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'heart' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">heart</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'envelop' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">envelop</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'gift-card' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">gift-card</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'card' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">card</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'social' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">social</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'return' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">return</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'revert' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">revert</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'star' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">star</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'lock' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">lock</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'plus' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">plus</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'minus', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">minus</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'amazon', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">amazon</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'google', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">google</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'facebook', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">facebook</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'instagram', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">instagram</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'youtube', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">youtube</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'snapchat', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">snapchat</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'tiktok', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">tiktok</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'x', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">x</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'pinterest', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">pinterest</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'customer', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">customer</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'trash', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">trash</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'eye', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">eye</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'eye-off', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">eye-off</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'upload', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">upload</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'play', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">play</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'video', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">video</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'question', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">question</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'info', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">info</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'info-hex', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">info-hex</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'warning', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">warning</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'check', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">check</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'check-accent', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">check-accent</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'search', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">search</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'cart', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">cart</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'user', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">user</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'arrow-left', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">arrow-left</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'arrow-right', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">arrow-right</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'arrow-up', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">arrow-up</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'arrow-down', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">arrow-down</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'loader', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">loader</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'close', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">close</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'clock', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">clock</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'phone', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">phone</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'filter', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">filter</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'amex', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">amex</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'discover', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">discover</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'paypal', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">paypal</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'mastercard', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">mastercard</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'visa', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">visa</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'bag', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">bag</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'quote', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">quote</span>
      </div>
    </div>
    <div class="col-span-2 flex flex-col items-center bg-brown/10">
      <div class="border-lilac bg-background_grey flex h-28 w-full flex-col items-center justify-center space-y-4 rounded border border-dashed p-4">
        {% render 'icon', icon: 'zoom', class: '!w-[52px] !h-[15px]' %}
        <span class="mb-1 mt-2 rounded bg-gray/20 px-2 py-1 font-mono text-xs italic">zoom</span>
      </div>
    </div>
  </div>
</div>
