<div class="top-header flex justify-center bg-primary text-white text-xs leading-4 uppercase py-1.25">
  top header
</div>

{% schema %}
  {
    "name": "Top Header",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "settings": [
    ]
  }
{% endschema %}
