<div class="top-header flex justify-center bg-green-light text-white text-xs leading-4 uppercase py-2.5">
  Free shipping!
</div>

{% schema %}
  {
    "name": "Top Header",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "settings": [
    ]
  }
{% endschema %}
